<div class="feed-toggle">
  <ul class="nav nav-pills outline-active">
    <li *ngIf="currentUser$ | async" class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/feed']"
        >Your Feed</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        queryParamsHandling="merge"
        [routerLink]="['/']"
        >Global Feed</a
      >
    </li>
    <li class="nav-item" *ngIf="tagName">
      <a
        class="nav-link"
        routerLinkActive="active"
        [routerLink]="['/tags', tagName]"
        ><i class="ion-pound"></i> {{ tagName }}</a
      >
    </li>
  </ul>
</div>
